.home { 
    min-height: 800px;
}

.home__title {
    font-family: 'Permanent Marker', cursive;
    font-weight: 800;
    font-size: 9vw;
    text-align: center;
}

.home__description {
    margin: 50px 100px;
    font-size: 1.4vw
}

.home__links {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.home__link {
    margin: 10px;
    color: black;
}

.home__link::hover {
    color: blue;
}