.tracker {
    min-height: 800px;
}

.tracker__wrapper {
    margin: auto;
    max-width: 850px;
    background-color: lightblue;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

td {
    height: 20px;
    width: 20px;
}

th {
    min-width: 100px;
}

