.todos__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 400px;
    border: 1px solid red;
}

.todos__checkbox {
    margin-right: 10px;
}

.todos__item {
    padding: 10px;
}
