.list {
    min-height: 800px;
}

.list__wrapper {
    border: 10px dotted black;
    background-color: #c2d8d8;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 25px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.list__button {
    background-color: #000547;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-top: auto;
}

.list__button:hover {
    color: greenyellow;
}