.list {
    min-height: 800px;
}

.list__wrapper {
    border: 10px dotted black;
    background-color: #c2d8d8;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 25px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.list__button {
    background-color: #000547;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-top: auto;
}

.list__button:hover {
    color: greenyellow;
}

.todos__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 400px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

.todos__checkbox {
    margin: 10px;
    height: 20px;
    width: 20px;
}

.todos__item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.4vw;
    align-items: center;
}

.addTodo input {
    border: none;
    background-color: seashell;
    padding: 10px;
    margin: 15px 10px 15px 15px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
}
